
/LuaInject/_ReSharper.LuaInject
/LuaInject/LuaInject/obj
/LuaInject/LuaInject/bin
/EasyHook/Examples/FileMon/obj
/EasyHook/Examples/FileMonInject/obj
/EasyHook/Examples/ProcessMonitor/obj
/EasyHook/Examples/ProcMonInject/obj
/EasyHook/Release/x86
/EasyHook/Release/x64
/EasyHook/Test/ManagedTarget/bin
/EasyHook/Test/ManagedTarget/obj
/EasyHook/Test/ManagedTest/obj
/EasyHook/Debug/x86
/EasyHook/Debug/x64
/EasyHook/EasyHook/obj
/EasyHook/EasyHookDll/x64
/EasyHook/EasyHookDll/EasyHookDll.vcproj.WIN-J0JPPPXORZX.Lynn.user
/EasyHook/EasyHookDll/EasyHookDll.vcproj.WIN-J0JPPPXORZX.Administrator.user
/EasyHook/Test/ManagedTarget/obj
/EasyHook/Test/ManagedTarget/bin
/EasyHook/Test/ManagedTest/obj
/EasyHook/EasyHookSvc/obj
/EasyHook/_ReSharper.EasyHook